[build]
  command = "npm run build"
  publish = ".next"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[build.environment]
  NODE_VERSION = "20"
  NPM_FLAGS = "--legacy-peer-deps"

[functions]
  node_bundler = "esbuild"

[[redirects]]
  from = "/*"
  to = "/not-found"
  status = 404

[[redirects]]
  from = "/*"
  to = "/404.html"
  status = 451
  conditions = {Country = ["RU", "BY", "MD", "UA", "IN", "IR", "IQ"]}

[[redirects]]
  from = "/*"
  to = "/404.html"
  status = 451
  conditions = {Country = ["RU", "BY"]}